## Lists

In [1]:
# Create a list of five integers 
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [4]:
# Type of the list
type([1, 2, 3, 4, 5])

list

In [5]:
# Create a list of five integers and five strings
[1, 2, 3, 4, 5, "one", "two", "three", "four", "five"]

[1, 2, 3, 4, 5, 'one', 'two', 'three', 'four', 'five']

In [6]:
# Create a list of five random integers and assign it to the variable my_list
my_list = [8, 10, 15, 17, 19]

In [7]:
# Retrieve the first element of the list
my_list[0]

8

In [8]:
# Retrieve the last element of the list
my_list[-1]

19

In [9]:
# Retrieve the last element of the list
my_list[4]

19

In [10]:
# Retrieve the first three elements of the list
my_list[0:3]

[8, 10, 15]

In [11]:
# Retrieve the first three elements of the list
my_list[:3]

[8, 10, 15]

In [12]:
# Retrieve all elements from index 3
my_list[3:]

[17, 19]

In [13]:
# Retrieve the last three elements of the list
my_list[-3:]

[15, 17, 19]

In [14]:
# Change the first element of the list to 'First'
my_list[0] = "First"
my_list

['First', 10, 15, 17, 19]

In [16]:
# Change the last element of the list to the list ['one', 'two', 'three']
my_list[-1] = ['one', 'two', 'three']
my_list

['First', 10, 15, 17, ['one', 'two', 'three']]

In [17]:
# Return the length of the list
len(my_list)

5

In [18]:
# Retrieve the last element of the list
my_list[-1]

['one', 'two', 'three']

In [20]:
# Retrieve the first element of the last element of the list
my_list[-1][0]

'one'

In [22]:
# Extend the list with elements 10, 11, and 12
# method
my_list.extend([10, 11, 12])
my_list

['First', 10, 15, 17, ['one', 'two', 'three'], 10, 11, 12]

In [23]:
# Remove the last element of the list
my_list.pop()
my_list

['First', 10, 15, 17, ['one', 'two', 'three'], 10, 11]

In [24]:
# Remove the eleement at index 2
my_list.pop(2) # The value 15 is removed
my_list

['First', 10, 17, ['one', 'two', 'three'], 10, 11]

In [25]:
# Append the number 6 to the list
my_list.append(6)
my_list

['First', 10, 17, ['one', 'two', 'three'], 10, 11, 6]

In [26]:
# Insert the string 'inserted' at index 2 
my_list.insert(2, 'inserted')
my_list

['First', 10, 'inserted', 17, ['one', 'two', 'three'], 10, 11, 6]

In [27]:
# Create a two new lists of integers
my_list1 = [1, 2, 3, 4, 5]
my_list2 = [6, 7, 8, 9, 10]

In [28]:
# Concatenate the two lists
my_list1 + my_list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
# Repeat the list my_list1 three times
my_list1 * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [30]:
# Determine of the number 5 is in the list
5 in my_list1

True

In [31]:
# Reverse the list
my_list1.reverse()
my_list1

[5, 4, 3, 2, 1]

In [34]:
# Use the list function and the range function to create a list of integers from 0 to 9
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
# Create a list containing the string 'I love Python'
list('I love Python')

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'P', 'y', 't', 'h', 'o', 'n']

## Tuples

In [36]:
# Create a tuple of five integers and assign it to the variable tuple_1
tuple_1 = 2, 4, 5, 7, 'ring' #State elements
tuple_1

(2, 4, 5, 7, 'ring')

In [37]:
type(tuple_1)

tuple

In [39]:
# Create a tuple with elements 1, 2, 'three', and the list 'Python' and assign it to the variable tuple_2
tuple_2 = (1, 2, 'three', list('Python')) # use parenthesis
tuple_2

(1, 2, 'three', ['P', 'y', 't', 'h', 'o', 'n'])

In [41]:
# Retrieve the first element of the tuple_1
tuple_1[0]

2

In [43]:
# Create a tuple with the sting elements 'Python'. 'R', and 'Julia' and assign it to the variable languages
languages = ('Python', 'R', 'Julia')
languages

('Python', 'R', 'Julia')

In [44]:
# Assign each element of the tuple to a separate variable, using the vairable names one, two and three
one, two, three = languages

In [45]:
# Retrieve the object in one
one

'Python'

In [46]:
names = ['Mary', 'Anne', 'Rene']
surnames = ['Johnstone', 'Barnes', 'Le Roux']

In [47]:
# Use the zip function to create a list of tuples
list(zip(names, surnames))

[('Mary', 'Johnstone'), ('Anne', 'Barnes'), ('Rene', 'Le Roux')]

In [48]:
# Generat a list of tuples (each with three elements)
data_set = [('Anna', 'Rodgers', 33), ('Susan', 'Roberts', 25), ('Rene', 'Du Bois', 28)]

#Unzip the three element tuples
names, lastnames, ages = zip(*data_set)

In [49]:
# Return the names
names

('Anna', 'Susan', 'Rene')

In [50]:
# Return the lastnames
lastnames

('Rodgers', 'Roberts', 'Du Bois')

## Dictionaries

In [51]:
# Generate a dictionary
id345 = {'First Name':'Jenny', 'Last Name':'Gregory', 'Age':48, 'Heart Rate': 75}

In [54]:
# Call id345
type(id345)

dict

In [55]:
# Return the keys of the dictionary
id345.keys()

dict_keys(['First Name', 'Last Name', 'Age', 'Heart Rate'])

In [56]:
# Return the values of the dictionary
id345.values()

dict_values(['Jenny', 'Gregory', 48, 75])

In [57]:
# Return the value for the 'First Name' key
id345['First Name']

'Jenny'

In [59]:
id345.get('Surname') # No such key (no error)

## Sets

In [61]:
# Generate a set with the elements 1, 2, 3, 4, 4, 4, 4, 1
set_1 = {1, 2, 3, 4, 4, 4, 4, 1}
set_1 # Call the object and print

{1, 2, 3, 4}

In [62]:
# Use the set function isntead
set_1 = set([1, 2, 3, 4, 4, 4, 4, 1])
set_1

{1, 2, 3, 4}

In [63]:
# Add the element 7 to the set
set_1.add(7)
set_1

{1, 2, 3, 4, 7}

## List Comprehension

In [64]:
# Use the list comprehension to create a list of the first 10 square natural numbers
[x**2 for x in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [65]:
# Squares of natural numbers larger than 5
[x**2 for x in range(1, 11) if x > 5]

[36, 49, 64, 81, 100]

In [66]:
# Only include elements that are less than 50
[x**2 for x in range(1, 11) if x**2 < 50]

[1, 4, 9, 16, 25, 36, 49]