## Week 6 Homework

> Varun Pandey

> February 20, 2024

### Question 1

In [5]:
# Use python to multiply 3 by 8
3 * 8

24

In [6]:
# Use python to divide (33+7) by 5
(33+7) / 5

8.0

### Question 2

In [8]:
# Data type of 1+2
type(1+2)

int

In [9]:
# Data type of 1+2.
type(1+2.)

float

In [10]:
# The data types are different because the first is an integer and the second type is a float since it has the decimal after the "1+2".

### Question 3

In [12]:
# Generate a loop that prints n^2 for each of the numbers n = {1, 2, 3, 4, 5}.
for n in range(1, 6):
    print(n**2)

1
4
9
16
25

### Question 4

In [14]:
# Create the variable i by assigning the value 1 to it. Then create a loop that prints the value of i^2 to the screen. Increment the value of i by 1 until the value of i^2 exceeds 1000. Print the value assigned to i after the loop has completed. Explain why the solution is i = 32 where 32^2 is larger than 1000.
i = 1
while i**2 <= 1000:
    i += 1
print(i)

32

In [15]:
# At i = 31, the value of 31^2 would be 961 which is less than 1000. At i = 32, the value of 32^2 would be 1024 which is greater than 1000. Therefore, the value of i would be 32 when the loop is completed.